.button-icon {
    padding: 10px;
    border-radius: 4px;
    border: 2px solid var(--primaryPurple);
    background: var(--white);
    text-decoration: none;
    display: inline-block;
}

.button-icon img {
    vertical-align: middle;
}