.title {
    align-self: flex-start;
    background: var(--primaryPurple);
    color: var(--white);
    font: var(--headline5);
    padding-block-end: 4px;
    padding-block-start: 4px;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    box-shadow: -4px 4px 0 var(--white);
    text-decoration: none;
    margin-inline-start: 4px;
}